<%-contentFor('title')%>
<%=pagetitle%>
<%-contentFor('style')%>
<style type="text/css">
	body{

	}
	.form-div{
		margin-top: 10%;
		padding: 20px;
		background-color: #cdd;
	}
</style>

<%-contentFor('maincontainer')%>
<div class="container">
	<div class="row">
		<div class="col-lg-3"> </div>
		<div class="col-lg-6">
			<div class="form-div">
				
				<% if(typeof error != 'undefined') {%>
					<p class="alert alert-danger"><%=error%></p>
				<%}%>
				<form method="POST">
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Article Password">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" value="Login" class="btn btn-primary">
					</div>
					<div class="form-group">
						<a href="/">Back To Article</a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-3"> </div>
	</div>
</div>

<%-contentFor('script')%>